<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/signup" method="post">
      <label for="email">
      <input name="email" type="email" placeholder="someguy@example.ca">
      <label>Message</label>          
      <textarea name='message' rows='5' placeholder='Keep me posted...'></textarea>
      <button id='send-email-button' type='submit'>Send</button>
    </form>
    <%- include partials/messages.ejs %>
  </body>
</html>
