<!DOCTYPE html>
<html>
  <head>
    <title><%= process.env.TITLE %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include partials/messages.ejs %>
    <form action="/signup" method="post">
      <label for="email">
      <input name="email" type="email" placeholder="someguy@example.ca" value='<%= email %>'>
      <label>Message</label>          
      <textarea name='message' rows='5' placeholder='Keep me posted...'><%= message %></textarea>
      <button id='send-email-button' type='submit'>Send</button>
    </form>
  </body>
</html>
